<a href="https://colab.research.google.com/github/jui24/Sparks-Foundation-Task/blob/main/Copy_of_ML_MINOR_MARCH(Jui_Patil).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from sklearn import metrics

In [ ]:
dataset = pd.read_csv('/content/drive/MyDrive/ML minor/tmdb_movies_data.csv (1).zip')
dataset = pd.DataFrame(dataset)
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB
None

In [ ]:
dataset.describe()

                  id    popularity  ...    budget_adj   revenue_adj
count   10866.000000  10866.000000  ...  1.086600e+04  1.086600e+04
mean    66064.177434      0.646441  ...  1.755104e+07  5.136436e+07
std     92130.136561      1.000185  ...  3.430616e+07  1.446325e+08
min         5.000000      0.000065  ...  0.000000e+00  0.000000e+00
25%     10596.250000      0.207583  ...  0.000000e+00  0.000000e+00
50%     20669.000000      0.383856  ...  0.000000e+00  0.000000e+00
75%     75610.000000      0.713817  ...  2.085325e+07  3.369710e+07
max    417859.000000     32.985763  ...  4.250000e+08  2.827124e+09

[8 rows x 10 columns]

In [ ]:
dataset = pd.DataFrame(dataset)
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB
None

In [ ]:
dataset.drop(["id", "homepage", "keywords", "overview", "production_companies", "tagline", "imdb_id", "popularity", "director", "vote_count", "vote_average", "budget_adj", "revenue_adj", "release_year"], axis = 1, inplace = True)
dataset.drop_duplicates(inplace=True)
dataset.drop(dataset[dataset['budget'] == 0].index, inplace = True) 
dataset.drop(dataset[dataset['revenue'] == 0].index, inplace = True) 
dataset.insert(0, 'New_ID', range(0, len(dataset)))
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3854 entries, 0 to 10848
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   New_ID          3854 non-null   int64
 1   budget          3854 non-null   int64
 2   revenue         3854 non-null   int64
 3   original_title  3854 non-null   object
 4   cast            3850 non-null   object
 5   runtime         3854 non-null   int64
 6   genres          3854 non-null   object
 7   release_date    3854 non-null   object
dtypes: int64(4), object(4)
memory usage: 271.0+ KB
None

In [ ]:
print("Dates beofre processing them\n", dataset['release_date'].head(5))
dataset['release_date'] = pd.to_datetime(dataset['release_date'])
print("Dates after processing them\n", dataset['release_date'].head(5))

Dates beofre processing them
 0      6/9/2015
1     5/13/2015
2     3/18/2015
3    12/15/2015
4      4/1/2015
Name: release_date, dtype: object
Dates after processing them
 0   2015-06-09
1   2015-05-13
2   2015-03-18
3   2015-12-15
4   2015-04-01
Name: release_date, dtype: datetime64[ns]

Which are the movies with the third-lowest and third-highest budget?

In [ ]:
def sort(column, n_num, keep_type_max, keep_type_min, keep_all):
    dataset_sort = dataset.copy()
    if(keep_all == "no"): 
        dataset_sort = dataset_sort.drop_duplicates(subset = column, keep="first")
    maximum = dataset_sort.loc[dataset_sort[column].nlargest(n_num, keep = keep_type_max).idxmin()]
    id_max = dataset_sort.loc[lambda dataset_sort: dataset_sort[column] == maximum[column]]
    
    minimum = dataset_sort.loc[dataset_sort[column].nsmallest(n_num, keep = keep_type_min).idxmax()]
    id_min = dataset_sort.loc[lambda dataset_sort: dataset_sort[column] == minimum[column]]
    return id_max['original_title'], id_min['original_title']

maximum, minimum = sort('budget', 3, "all", "all", "no")
print(str("The third highest budget movies in dataset are :- \n" + str(maximum) + "\n\nThe third lowest budget movies in dataset are :- \n" + str(minimum)))

The third highest budget movies in dataset are :-
7387    Pirates of the Caribbean: At World's End
Name: original_title, dtype: object

The third lowest budget movies in dataset are :-
2398    Boy
Name: original_title, dtype: object

What is the average number of words in movie titles between the year 2000-2005?

In [ ]:
def average(start, end, column_use, column_want, text):
    identity_for_year = dataset.loc[lambda dataset: ((dataset[column_use] > start) & (dataset[column_use] < end))]
    sum = 0
    for temp in identity_for_year[column_want]:
        if (text == "text"):
            pieces = len(temp.split())
            sum = sum + pieces
        if (text == "number"):
            sum = sum + temp
    average_count = sum/len(identity_for_year)
    return average_count

count = average(pd.datetime(1999,12,31), pd.datetime(2007,1,1), 'release_date', 'original_title', "text")         
print(str("Average number of words in movie titles between the year 2000-2005 is approx :- \n" + str(round(count, 1)) + " Words"))

Average number of words in movie titles between the year 2000-2005 is approx :-
2.7 Words

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  del sys.path[0]

What is the most common Genre for Vin Diesel & Emma Watson movies?

In [ ]:
 is the most common Genre for Vin Diesel & Emma Watson movies?
def tit_for_tat(data1, column2, data1_column):
    dataset_temp = dataset.copy()
    dataset_temp[data1_column] = dataset_temp[data1_column].str.contains(data1)
    dataset_temp.drop(dataset_temp[dataset_temp[data1_column] == False].index, inplace = True)
    dataset_temp.drop(["New_ID", "budget", "revenue", "original_title", "runtime", "release_date"], axis = 1, inplace = True)
    dataset_temp.insert(0, 'New_ID', range(0, len(dataset_temp)))
    
    set_genre = set()
    for temp_genre in dataset_temp[column2].str.split('|').values:
        if isinstance(temp_genre, float): continue
        set_genre = set_genre.union(temp_genre)
        
    genre_count = dict()
    for s in set_genre: genre_count[s] = 0
    for temp_genre in dataset_temp[column2].str.split('|'):        
        if type(temp_genre) == float and pd.isnull(temp_genre): continue        
        for s in [s for s in temp_genre if s in set_genre]: 
            if pd.notnull(s): genre_count[s] += 1
    genre_occurences = []
    for k,v in genre_count.items():
        genre_occurences.append([k,v])
    genre_occurences.sort(key = lambda x:x[1], reverse = True)
    return genre_occurences, genre_count

count, count1 = tit_for_tat("Vin Diesel", 'genres', 'cast')
print(str("The most common genre of movies performed by Vin Diesel is :- \n" + str(count[:1]) + "\n\n"))
count, count1 = tit_for_tat("Emma Watson", 'genres', 'cast')
print(str("The most common genre of movies performed by Emma Watson is :- \n" + str(count[:1]) ))

Object `movies` not found.
The most common genre of movies performed by Vin Diesel is :-
[['Action', 14]]


The most common genre of movies performed by Emma Watson is :-
[['Family', 9]]

Which are the movies with most and least earned revenue?

In [ ]:
maximum, minimum = sort('revenue', 1, "all", "all", "yes") 
print(str("The most revenue movies is :- \n" + str(maximum) + "\n\nThe least revenue movies is :- \n" + str(minimum)))

The most revenue movies is :-
1386    Avatar
Name: original_title, dtype: object

The least revenue movies is :-
5067    Shattered Glass
8142           Mallrats
Name: original_title, dtype: object

What is the average runtime of movies in the year 2006?

In [ ]:
count = average(pd.datetime(2005, 12, 31), pd.datetime(2007, 1, 1), 'release_date', 'runtime', "number") 
print(str("Average runtime of movies in 2006 is approx :- \n" + str(round(count, 2)) + " Minutes\n"))

Average runtime of movies in 2006 is approx :-
108.19 Minutes

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  """Entry point for launching an IPython kernel.